@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-main: #EEF2F7;
    --bg-hero: #E2E8F0;
    --bg-card: #FFFFFF;
    --color-border: #CBD5E1;
    --color-primary: #1E3A8A;
    --color-accent: #0284C7;
  }

  body {
    @apply bg-[var(--bg-main)] text-gray-900;
  }
}